main{
    padding-top: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
}

.headbar{
    display: grid;
    padding-top: 3vw;
    padding-left: 10vw;
    padding-right: 10vw;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px;
}

.description{
    grid-template-columns: 1/2;
    align-self: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight:200;
}


.hello{
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
}

.background{
    background-color: antiquewhite;
    width: 80vw;
}

.helloword{
    display: flex;
    padding-left: 10vw;
    flex-direction: row;
    font-family:'Nunito Sans', sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1em;
}

.helloword>div:nth-child(1){
    align-self: flex-start;
}

.helloword>div:nth-child(2){
    align-self: flex-end;
}

.projects{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 600px 600px;
    grid-gap: 10px;
    padding-bottom: 0ch;
    grid-template-areas: "overlap";
}

.project1_word{
    transition: transform 0.2s;
    color: white;
    grid-column: 1/2;
    position: relative;
    align-self: center;
    justify-self: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    font-weight:900;
    grid-area: "overlap";
}

a, a:link, a:visited{
    color: white;
}

a:hover{
    color: lightgreen;
}

.project1_bg:hover, .project1_word:hover{
    transform: scale(1.05);
}

.project1_bg{
    transition: transform 0.2s;
    grid-column: 1/2;
    position: absolute;
    width: 245px;
    height: 600px;
}

.project2_bg{
    align-self: center;
    justify-self: center;
}